{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="p-5 bag">
    <div class="row">
        <div class="col-12 p-5">
            <h2 class="text-uppercase text-center">Welcome to your cart</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-5">
            {% if bag_items %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product Image</th>
                            <th scope="col">Camp Name</th>
                            <th scope="col">Dates</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>

                    {% for item in bag_items %}
                    <tr>
                        <td>
                            {% if item.camp.image %}
                            <img src="{{ item.camp.image.url }}" alt="" height="200" width="200">
                            {% else %}
                            <img src="/media/txc-noimage-fill.png" alt="" height="200" width="200">
                            {% endif %}
                        </td>
                        <td>
                            <p>{{ item.camp.name }}</p>
                        </td>
                        <td>
                            <p>{{ item.camp.start_date }} to {{ item.camp.finish_date }}</p>
                        </td>
                        <td>
                            <p>{{ item.camp.price }}</p>
                        </td>
                        <td>
                            <form class="form update-form" method="POST" action="{% url 'update_bag' item.item_id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty button bg-black text-white p-1" data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                <i class="fas fa-minus px-1"></i>
                                            </button>
                                        </div>
                                        <input class="form-control form-control-sm qty_input" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="25" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty button bg-black text-white p-1" data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                <i class="fas fa-plus px-1"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="mt-3">
                                <a class="update-item button float-start bg-black text-white py-1">Update</a>
                                <a class="remove-item button float-end bg-black text-white py-1" id="remove_{{ item.item_id }}">Remove</a>
                            </div>
                        </td>
                        <td>
                            <p>{{ item.subtotal }}</p>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5">
                            <p class="text-end">Total:</p>                          
                        </td>
                        <td colspan="1">
                            <p class="">{{ total }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" class="text-end">
                            <a href="{% url 'camps' %}" class="button">
                                <span class="text-uppercase">View More Camps</span>
                            </a>
                            <a href="" class="button">
                                <span class="text-uppercase">Secure Checkout</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <p class="m-5">Your bag is empty.</p>
            <a class="button m-5" href="{% url 'camps' %}">
                View Camps & Events!
            </a>
            {% endif %}
        </div>
    </div>
</section>

<script type="text/javascript">
    // Update quantity on click
    $('.update-item').click(function(e) {
        var form = $(this).parent().prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>

{% endblock %}