{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Hero Image -->
<section class="hero-image">
    <div class="hero-text">
        <h1>Award Winning Ski X Performance Training</h1>
    </div>
</section>
<!-- /Hero Image -->
<!-- Company Bio -->
<section class="company-bio bg-black text-white text-center p-5">
    <!-- Basic Company Description -->
    <div class="row">
        <div class="col-12 p-5">
            <h2 class="text-uppercase">The Cross Collective</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-5 d-flex justify-content-center ">
            <p class="m-0 w-75">The Cross collective (TXC) is a ski cross training academy that specialises in ski cross training in the UK and EU. TXC was founded by Jake Richardson, multi award winning ski cross coach, in 2016 with the aim to provide high performance coaching to aspiring young athletes. TXC goals have and always will be to provide a safe and fun learning environment to increase athletes understanding of skiing movements and performance from the ages U10 through to FIS level.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-5">
            <a href="#" class="button">Learn More</a>
        </div>
    </div>
    <!-- /Basic Company Description -->
    <hr class="m-5 pt-1">
    <!-- Testimonials -->
    <div class="row">
        <div class="col-12 p-5">
            <h2 class="text-uppercase">Testimonials</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 p-5">
            <p>"Our children really enjoy the Cross Collective camps, their skiing progresses, they learn so much from trying ski cross but it's so much more than that - they genuinely just have fun, on and off the slopes. Thank you to the coaches for their expertise, energy and enthusiasm."</p>
            <p><em>Melanie Watson</em></p>
        </div>
        <div class="col-12 col-md-6 col-lg-4 p-5">
            <p>"TXC camps strike just the right balance between tuition and enjoyment, children learn all-mountain skills and love doing so. The coaching is fantastic but children don't always realise how much of this there is, the fun-factor takes over. Thanks to all TXC crew - we will keep coming back."</p>
            <p><em>Andrew Snelling</em></p>
        </div>
        <div class="col-12 d-md-none d-lg-block col-lg-4 p-5">
            <p>"This is the best holiday fun my boys have ever had. Doing what they love with amazing staff. It doesn't get better than this!"</p>
            <p><em>Linsey Kelman</em></p>
        </div>
    </div>
    <!-- /Testimonials -->
</section>
<!-- /Company Bio -->
{% endblock %}