{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="header-top"></div>
<section class="p-5 bg-black text-white text-center page-height">
    <div class="row">
        <div class="col-12 p-5">
            <h2 class="text-uppercase text-center">Welcome to the Checkout</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <p>Please fill out the form below to complete your booking</p>
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <fieldset class="px-3 mb-5">
                    <legend class="small text-white px-2 w-auto">Details</legend>
                    <div class="row">
                        <div class="col">
                            <p class="my-2">{{ order_form.email | as_crispy_field }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="my-2">{{ order_form.first_name | as_crispy_field }}</p>
                        </div>
                        <div class="col">
                            <p class="my-2">{{ order_form.last_name | as_crispy_field }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="my-2">{{ order_form.postcode | as_crispy_field }}</p>
                        </div>
                        <div class="col">
                            <p class="my-2">{{ order_form.contact_number | as_crispy_field }}</p>
                        </div>
                    </div>
                    <div class="form-check form-check-inline float-right mr-0">
                        {% if user.is_authenticated %}
                        <label class="form-check-label" for="id-save-info">Save this delivery information to my
                            profile</label>
                        <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
                        {% else %}
                        <label class="form-check-label" for="id-save-info">
                            <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or
                            <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                        </label>
                        {% endif %}
                    </div>
                </fieldset>
                <fieldset class="px-3">
                    <legend class="fieldset-label small text-white px-2 w-auto">Payment</legend>
                    <!-- A Stripe card element will go here -->
                    <div class="mb-3" id="card-element"></div>

                    <!-- Used to display form errors -->
                    <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                </fieldset>
                <div class="submit-button text-right mt-5 mb-2">
                    <a href="{% url 'bag_view' %}" class="btn bg-white text-black p-1.5 m-3">
                        <span class="font-weight-bold text-uppercase">Adjust Order</span>
                    </a>
                    <button id="submit-button" class="btn bg-white text-black">
                        <span class="font-weight-bold text-uppercase">Complete Order</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </button>
                    <p class="small text-danger my-2">
                        <i class="fas fa-exclamation-circle"></i>
                        <span>Your card will be charged <strong>${{ total|floatformat:2 }}</strong></span>
                    </p>
                </div>
            </form>
        </div>
        <div class="col-12 col-lg-6 mb-5">
            <p class="text-white"><strong>Order Summary</strong></p>
            <div class="row">
                <div class="col-7 offset-2">
                    <p class="mb-1 mt-0 small"><strong>Item</strong></p>
                </div>
                <div class="col-3 text-right">
                    <p class="mb-1 mt-0 small"><strong>Subtotal</strong></p>
                </div>
            </div>
            {% for item in bag_items %}
            <div class="row">
                <div class="col-2 mb-1">
                    {% if item.camp.image %}
                    <img src="{{ item.camp.image.url }}" alt="" height="99" width="176">
                    {% else %}
                    <img src="/media/txc-noimage-fill.png" alt="" height="99" width="99">
                    {% endif %}
                    </a>
                </div>
                <div class="col-7">
                    <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                    <p class="my-0 small">Qty: {{ item.quantity }}</p>
                </div>
                <div class="col-3 text-right">
                    <p class="my-0 small">${{ item.camp.price }}</p>
                </div>
            </div>
            <hr>
            {% endfor %}
            <div class="row text-white text-right">
                <div class="col-7 offset-2">
                    <p class="my-0"><strong>Order Total:</strong></p>
                </div>
                <div class="col-3">
                    <p class="my-0"><strong>£{{ total | floatformat:2 }}</strong></p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="loading-overlay">
    <h1 class="text-white loading-spinner">
        <div class="fa-10x">
            <i class="far fa-snowflake fa-spin"></i>
        </div>
    </h1>
</section>
{% endblock %}