.row {
    margin: 0;
}

.col-12 {
    padding: 0;
}

/* Home Page - Hero Section */
.hero-image {
    height: 80vh;
    background: url('/media/hero-image.jpg') no-repeat center center fixed;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    filter: brightness(120%);
}

.hero-text h1 {
    color: #000;
    font-family: 'Scheherazade New', serif;
    font-weight: 700;
    font-size: 60px;
}

.button {
    background-color: #fff;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Scheherazade New', serif;
    letter-spacing: 3px;
    padding: 10px;
    border: 0;
    text-decoration: none;
}

.txc-promo-video {
    width: 920px;
    height: 520px;
    margin: 0 auto;
    display: block;
}

.team-photo {
    width: 75vw;
    height: auto;
}

.social-links {
    color: #000;
    font-size: 18px;
}

.camp-hero-image {
    height: 80vh;
    background: url('/media/camp-hero-image.jpg') no-repeat center center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    filter: brightness(120%);
}

.camp-hero-text h1 {
    color: #000;
    font-family: 'Scheherazade New', serif;
    font-weight: 700;
    font-size: 60px;
}


.bag {
    background-size: cover;
    min-height: calc(100vh - 75px);
}

.days-booking-input {
    display: flex;
    justify-content: center;
}

.update-item,
.remove-item {
    cursor: pointer;
}

/* Stripe  */

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
    border-radius: 0;
}