{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="header-top"></div>
<section class="bg-black text-white page-height p-5">
    <div class="row">
        <div class="col-10 offset-1 col-md-6 offset-md-3 border border-white">

            <h1 class="text-center text-uppercase p-3">{% trans "Change Password" %}</h1>
            <p class="text-center">{% trans 'Your password is now changed.' %}</p>

        </div>
    </div>
</section>
{% endblock %}
