{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Hero Image -->
<section class="camp-hero-image">
    <div class="camp-hero-text">
        <h1>Camps</h1>
    </div>
</section>
<!-- /Hero Image -->
<!-- Camps -->
<section class="bg-black text-white text-center p-5">
    <div class="row">
        <div class="col-12 p-5">
            <h2 class="text-uppercase">All Camps</h2>
        </div>
    </div>
    <div class="row">
        {% for camp in camps %}
        <div class="col-12 col-md-6 col-lg-3 p-5">
            {% if camp.image %}
            <img src="/media/hero-image.jpg" alt="" height="200" width="200">
            {% else %}
            <img src="/media/no-image-fill.jpg" alt="" height="200" width="200">
            {% endif %}
            <h3>{{ camp.name }}</h3>
            <p>{{ camp.location }}</p>
            <p>{{ camp.start_date }} to {{ camp.finish_date }}</p>
            <p>{{ camp.price }}</p>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
                More Details
            </button>
            <div class="collapse" id="collapseExample">
                <div class="card card-body bg-black">
                    <p>{{ camp.location }}</p>
                    <p>{{ camp.coaches }}</p>
                    <p>{{ camp.staff }}</p>
                    <p>{{ camp.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
</section>
{% endblock %}