{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Hero Image -->
<section class="camp-hero-image">
    <div class="camp-hero-text">
        <h1>Camps</h1>
    </div>
</section>
<!-- /Hero Image -->
<!-- Camps -->
<section class="bg-black text-white text-center p-5">
    <div class="row">
        <div class="col-12 p-5">
            <h2 class="text-uppercase">All Camps</h2>
        </div>
    </div>
    <div class="row">
        {% for camp in camps %}
        <div class="col-12 col-md-6 col-lg-3 p-5">
            {% if camp.image %}
            <img src="{{ camp.image.url }}" alt="" height="200" width="200">
            {% else %}
            <img src="/media/txc-noimage-fill.png" alt="" height="200" width="200">
            {% endif %}
            <h3>{{ camp.name }}</h3>
            <p>{{ camp.location }}</p>
            <p>{{ camp.start_date }} to {{ camp.finish_date }}</p>
            <p>{{ camp.price }}</p>
            <button class="button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
                More Details
            </button>
            <div class="collapse" id="collapseExample">
                <div class="card card-body bg-black">
                    <p>{{ camp.location }}</p>
                    <p>{{ camp.coaches }}</p>
                    <p>{{ camp.staff }}</p>
                    <p>{{ camp.description }}</p>
                </div>
            </div>
            <form class="form" action="{% url 'add_to_bag' camp.id %}" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-12">
                        <p class="my-3"><strong>Total Days Booking:</strong></p>
                    </div>
                    <div class="col-12 days-booking-input">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button class="decrement-qty button bg-black text-white" data-item_id="{{ camp.id }}" id="decrement-qty_{{ camp.id }}">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                                <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="25" data-item_id="{{ camp.id }}" id="id_qty_{{ camp.id }}">
                                <div class="input-group-append">
                                    <button class="increment-qty button bg-black text-white" data-item_id="{{ camp.id }}" id="increment-qty_{{ camp.id }}">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <input type="submit" class="button" value="Add to Cart">
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </div>
            </form>
            
        </div>
        {% endfor %}
</section>
{% endblock %}