{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Hero Image -->
<section class="camp-hero-image">
    <div class="camp-hero-text">
        <h1>Camps</h1>
    </div>
</section>
<!-- /Hero Image -->
<!-- Camps -->
<section class="bg-black text-white text-center p-5">
    <div class="row">
        <div class="col-12 p-5">
            <h2 class="text-uppercase">All Camps</h2>
        </div>
    </div>
    <div class="row">
        {% for camp in camps %}
        <div class="col-12 col-lg-6 col-xl-4 p-5">
            {% if camp.image %}
                <a class="p-0" href="{% url 'camp_details' camp.id %}">
                    <img src="{{ camp.image.url }}" alt="" height="180" width="320">
                </a>
            {% else %}
                <a class="p-0" href="{% url 'camp_details' camp.id %}">
                    <img src="/media/txc-noimage-fill.png" alt="" height="180" width="180">
                </a>
            {% endif %}
            <h4 class="p-2">{{ camp.name }}</h4>
            <p>{{ camp.location }}</p>
            {% if camp.start_date == camp.finish_date %}
                <p>{{ camp.start_date }}</p>
            {% else %}
                <p>{{ camp.start_date }} to {{ camp.finish_date }}</p>
            {% endif %}
            <p>£{{ camp.price }} per camp</p>
            <a class="btn bg-white text-black text-uppercase" href="{% url 'camp_details' camp.id %}">
                See more details
            </a>
            <form class="form" action="{% url 'add_to_bag' camp.id %}" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-12">
                        <p class="my-3"><strong>Quantity:</strong></p>
                    </div>
                    <div class="col-12 days-booking-input justify-content-center">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button class="decrement-qty btn bg-black text-white" data-item_id="{{ camp.id }}" id="decrement-qty_{{ camp.id }}">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                                <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="25" data-item_id="{{ camp.id }}" id="id_qty_{{ camp.id }}">
                                <div class="input-group-append">
                                    <button class="increment-qty btn bg-black text-white" data-item_id="{{ camp.id }}" id="increment-qty_{{ camp.id }}">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <input type="submit" class="btn bg-white text-black text-uppercase m-2" value="Add to Cart">
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </div>
            </form>
            {% if request.user.is_superuser %}
            <div class="ml-3">
                <a class="btn bg-white text-black text-uppercase m-1" href="{% url 'edit_camp' camp.id %}">Edit</a>
                <a class="btn bg-white text-black text-uppercase m-1" href="{% url 'delete_camp' camp.id %}">Delete</a>
            </div>
            {% endif %}
        </div>
        {% if forloop.counter|divisibleby:1 %}
        <div class="col-12 d-lg-none mb-5">
            <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:2 %}
        <div class="col-12 d-none d-lg-block d-xl-none mb-5">
            <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:3 %}
        <div class="col-12 d-none d-xl-block mb-5">
            <hr>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</section>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/nav.js' %}"></script>
{% endblock %}