{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="header-top"></div>
<section class="p-5 bg-black text-white page-height">
    <div class="row">
        <div class="col-12 p-5 text-center">
            <h2 class="text-uppercase text-center">Camp Management</h2>
            <h5 class="text-uppercase text-center">Edit Camp or Event</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <form action="{% url 'edit_camp' camp.id %}" method="POST" class="" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="text-center">
                    <a href="{% url 'camps' %}" class="btn bg-white text-black">Cancel</a>
                    <button class="btn bg-white text-black" type="submit">Update Camp</button>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}